<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="description" content="[HERE PASTE YOUR DESCRIPTION]" />
	<meta name="author" content="Template:TemplatesDock " />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/skin.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/botton.css" />
	<script type="text/javascript" src="javascript/cufon-yui.js"></script>
	
	<script type="text/javascript">Cufon.replace('h1, h2, h3, h4, h5, h6', {hover:true});</script>	
	<title>zgz BlogSystem</title>
</head>

<body>

<div class="main">

	<!-- HEADER -->
	<div id="header" class="box">

		<h1 id="logo">朱国柱<span> BlogSystem</span></h1>

		<!-- NAVIGATION -->
		<ul id="nav">
			<li ><a href="#">首页</a></li>
			<li ><a href="#">我的博客</a></li>
			<li ><a href="#">后台登录</a></li>
		</ul>
		
	</div> <!-- /header -->

	<div id="section" class="box">
				<h2>博客的title</h2>

				<div >
					<p class="f-right"><a href="#" class="comment">编辑</a></p>
					<p class="f-left">2014-3-19 15:50:50 | 分类 历史迷雾 </p>
				</div>
				
				<div style="border-bottom: 1px dotted #CCC; height:50px;"></div>
				<div style="padding:10px">
					您可以用文字、图片、视频记录和展示最真实的自我，与网友交流，与线上好友聊天，还能通过手机发表博文和上传图片，随时随地记录心情和身边趣闻。
    我们为您提供了丰富的炫酷模板来装点您在网上的家园，强大的音乐播放功能更能陪伴您的网络生活。准备好了吗？现在就开始精彩的博客之旅！您可以用文字、图片、视频记录和展示最真实的自我，与网友交流，与线上好友聊天，还能通过手机发表博文和上传图片，随时随地记录心情和身边趣闻。
    我们为您提供了丰富的炫酷模板来装点您在网上的家园，强大的音乐播放功能更能陪伴您的网络生活。准备好了吗？现在就开始精彩的博客之旅！您可以用文字、图片、视频记录和展示最真实的自我，与网友交流，与线上好友聊天，还能通过手机发表博文和上传图片，随时随地记录心情和身边趣闻。
    我们为您提供了丰富的炫酷模板来装点您在网上的家园，强大的音乐播放功能更能陪伴您的网络生活。准备好了吗？现在就开始精彩的博客之旅！您可以用文字、图片、视频记录和展示最真实的自我，与网友交流，与线上好友聊天，还能通过手机发表博文和上传图片，随时随地记录心情和身边趣闻。
    我们为您提供了丰富的炫酷模板来装点您在网上的家园，强大的音乐播放功能更能陪伴您的网络生活。准备好了吗？现在就开始精彩的博客之旅！您可以用文字、图片、视频记录和展示最真实的自我，与网友交流，与线上好友聊天，还能通过手机发表博文和上传图片，随时随地记录心情和身边趣闻。
    我们为您提供了丰富的炫酷模板来装点您在网上的家园，强大的音乐播放功能更能陪伴您的网络生活。准备好了吗？现在就开始精彩的博客之旅！您可以用文字、图片、视频记录和展示最真实的自我，与网友交流，与线上好友聊天，还能通过手机发表博文和上传图片，随时随地记录心情和身边趣闻。
    我们为您提供了丰富的炫酷模板来装点您在网上的家园，强大的音乐播放功能更能陪伴您的网络生活。准备好了吗？现在就开始精彩的博客之旅！
				</div>
				<div style="border-bottom: 1px dotted #CCC;"></div>
				<h3>评论</h3>
				<div style="padding:0 0 0 10px">
					DNNN:说的好啊!
					<br/>
					评论时间:2015/12/19 15:20:23
				</div>
				<div style="border-bottom: 1px dotted #CCC;"></div>
				<div style="padding:0 0 0 10px">
					DNNN:说的好啊!
					<br/>
					评论时间:2015/12/19 15:20:23
				</div>
				<div style="border-bottom: 1px dotted #CCC;"></div>

				<div style="padding:0 0 0 10px">
					DNNN:说的好啊!
					<br/>
					评论时间:2015/12/19 15:20:23
				</div>
				<div style="border-bottom: 1px dotted #CCC;"></div>
				
				<form action="#" method="post" class="form">
					<ul>
						<textarea cols="75" rows="5" class="input-text"  name=""></textarea>
						
						<li><input type="submit" value=" 提交 " class="input-submit"  /></li>
					
					</ul>
				</form>
					
	</div> 

</div> 	
	
<!-- FOOTER -->
<div id="footer">

	<div class="main box">
		<p class="f-right t-right"> 联系我们 | 招聘信息 | 网站律师  使用须知</p>
		<p class="f-left">Copyright &copy;&nbsp;2015 <a href="http://www.maiziedu.com/">麦子学院</a></p>
	</div> 

</div> <!-- /footer -->



</body>
</html>
