<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="description" content="[HERE PASTE YOUR DESCRIPTION]" />
	<meta name="author" content="Template:TemplatesDock " />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/skin.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/botton.css" />
	<script type="text/javascript" src="javascript/cufon-yui.js"></script>
	
	<script type="text/javascript">Cufon.replace('h1, h2, h3, h4, h5, h6', {hover:true});</script>	
	<title>zgz BlogSystem</title>
</head>

<body>

<div class="main">

	<!-- HEADER -->
	<div id="header" class="box">

		<h1 id="logo">朱国柱<span> BlogSystem</span></h1>

		<!-- NAVIGATION -->
		<ul id="nav">
			<li ><a href="#">首页</a></li>
			<li class="current"><a href="#">我的博客</a></li>
			<li ><a href="#">后台登录</a></li>
		</ul>
		
	</div> <!-- /header -->
	<!-- COLUMNS -->
	<div id="section" class="box">
		<button class="button black"> 写博文 </button>

		<div style="border-bottom: 1px dotted #CCC;margin: 10px 0 0 0"></div>
		<ul class="articles box">
				<li>
					<h2><a href="#">博客的title</a></h2>

					<div class="article-info box">

						<p class="f-right"><a href="#" class="comment">评论 (15)</a></p>

						<p class="f-left">2014-3-19 15:50:50 | 分类 历史迷雾 </p>

					</div> <!-- /article-info -->	

					<p>This is a free web template by  This work is distributed under theCreative Commons Attribution 3.0 License, which means that you are free to adapt, copy, distribute and transmit the work. You must attribute the work in the manner specified by the author or licensor (don´t remove our backlink from footer...
					</p>
					<p class="more"><a href="#">删除&raquo;</a></p>
				</li>
				<li>
					<h2><a href="#">博客的title</a></h2>

					<div class="article-info box">

						<p class="f-right"><a href="#" class="comment">评论 (15)</a></p>

						<p class="f-left">2014-3-19 15:50:50 | 分类 历史迷雾 </p>

					</div> <!-- /article-info -->	

					<p>This is a free web template by  This work is distributed under theCreative Commons Attribution 3.0 License, which means that you are free to adapt, copy, distribute and transmit the work. You must attribute the work in the manner specified by the author or licensor (don´t remove our backlink from footer...
					</p>
					<p class="more"><a href="#">删除&raquo;</a></p>
				</li>
				<li>
					<h2><a href="#">博客的title</a></h2>

					<div class="article-info box">

						<p class="f-right"><a href="#" class="comment">评论 (15)</a></p>

						<p class="f-left">2014-3-19 15:50:50 | 分类 历史迷雾 </p>

					</div> <!-- /article-info -->	

					<p>This is a free web template by  This work is distributed under theCreative Commons Attribution 3.0 License, which means that you are free to adapt, copy, distribute and transmit the work. You must attribute the work in the manner specified by the author or licensor (don´t remove our backlink from footer...
					</p>
					<p class="more"><a href="#">删除&raquo;</a></p>
				</li>
				
			</ul>
			<div class="pagination box">

				<p class="f-right">
					<a href="#" class="current">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a href="#">7</a>
					<a href="#">下一页 &raquo;</a>
				</p>
				
				<p class="f-left"> 1 / 13 页</p>

			</div> 
	</div> 

</div> <!-- /main -->	
	
<!-- FOOTER -->
<div id="footer">

	<div class="main box">
		<p class="f-right t-right"> 联系我们 | 招聘信息 | 网站律师  使用须知</p>
		<p class="f-left">Copyright &copy;&nbsp;2017<a href="http://www.maiziedu.com/">麦子学院</a></p>
	</div> 

</div> <!-- /footer -->



</body>
</html>
